################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ants
/Ants/x64/Debug
/x64/Debug
